.add-task {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.add-task-input {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2;
    box-shadow: inset 0 0 5px #005C5C;
}

.add-task-input:focus {
    box-shadow: 0 0 10px 1000px #005C5C;
    outline: none;
}

.add-task-submit {
    position: absolute;
    width: 100px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    font-size: 20px;
    background-color: #005C5C;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px #005C5C;
}

.add-task-submit:hover {
    background-color: #0C2C56;
}

.add-task-submit:active {
    transform: scale(.8);
    background-color: #D50032;
    box-shadow: 0 0 5px #D50032;
}

.todolist {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
    color: #005C5C;
}

.todocard {
    display: flex;
    width: 29.5%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: silver;
}

.todocard--text:focus {
    outline: none;
}

.todocard_icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

.todocard_text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

@media (max-width: 1200px) {
    .todocard {
        width: 40%;
    }
}

@media (max-width: 700px) {
    .input {
        width: 95%;
    }
    .todos {
        width: 95%;
    }
    .todocard {
        width: 100%;
    }
}